.font-title {
  font-family: 'Lato', sans-serif;
}
.font-std {
  font-family: 'Open Sans', sans-serif;
}
.border-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.def-margin {
  margin-top: 0.5rem;
}
.def-margin:first-child {
  margin-top: 0;
}
.std-link {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.std-link:link,
.std-link:visited {
  color: #268bd2;
  text-decoration: none;
}
.std-link:hover {
  color: #78b9e6;
}
body {
  font-family: 'Open Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-size: 14px;
}
body {
  background-color: white;
}
a {
  text-decoration: none;
}
.container {
  height: 100%;
}
.container .top {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container .sidebar-bg {
  background-color: #f0f0f0;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1000;
}
.container .sidebar {
  float: left;
}
.container .sidebar,
.container .sidebar-bg {
  width: 15rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container .contents-and-controls {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15rem;
}
.container .top {
  padding: 1rem;
  background-color: #00171c;
}
.container .top h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #eee8d5;
  display: inline-block;
}
.container .top .settings {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  float: right;
  font-size: 1.3rem;
  color: #93a1a1;
}
.container .top .settings:hover {
  color: #cad0d0;
}
.container .sidebar ul {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container .sidebar ul li {
  display: block;
}
.container .sidebar ul li a {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  display: block;
  padding: 1rem;
  background-color: #e3e3e3;
  color: rgba(0, 0, 0, 0.6);
}
.container .sidebar ul li a:hover {
  background-color: #d7d7d7;
  color: rgba(0, 0, 0, 0.95);
  border-left: 5px solid rgba(0, 0, 0, 0.25);
}
.container .sidebar ul li ul li a {
  padding-left: 2rem;
  background-color: #dcdcdc;
}
.container .sidebar ul li ul li a:hover {
  background-color: #cfcfcf;
}
.container .sidebar ul .active {
  background-color: #268bd2;
  color: rgba(255, 255, 255, 0.95);
  border-left: 5px solid rgba(0, 0, 0, 0.25);
}
.container .contents-and-controls .contents {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  float: left;
  padding: 1rem 0 1rem 1rem;
}
.container .contents-and-controls .contents .chart {
  position: relative;
  display: inline-block;
  width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}
.container .contents-and-controls .contents .chart .bar {
  fill: #268bd2;
}
.container .contents-and-controls .contents .chart .background-bar {
  fill: #f0f0f0;
}
.container .contents-and-controls .contents .chart .menu-item {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  text-decoration: underline;
}
.container .contents-and-controls .contents .chart #latency-chart,
.container .contents-and-controls .contents .chart #size-chart {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 45%;
  display: inline-block;
}
.container .contents-and-controls .contents .legend-container {
  display: inline-block;
  width: 15%;
}
.container .contents-and-controls .contents .legend-container .legend {
  overflow-y: auto;
  overflow-x: auto;
}
.container .contents-and-controls .contents .legend-container .legend-item {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}
.container .contents-and-controls .contents .stats {
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  display: inline-block;
}
.container .contents-and-controls .controls {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: right;
  padding: 1rem;
}
.container .contents-and-controls .controls .inner {
  background-color: #f0f0f0;
  padding: 1rem;
}
.container .contents-and-controls .controls .inner label {
  display: block;
  margin-top: 1rem;
}
.container .contents-and-controls .controls .inner #outliers-select {
  margin-top: 0;
}
.container .contents-and-controls .controls .inner button {
  display: block;
  margin-top: 1rem;
}
.container .contents-and-controls .controls .inner input {
  width: 100%;
}
